* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  width: 100%;
  min-width: 1519px;
  min-height: 100vh;
  @include column-center();

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  svg:hover,
  .image:hover {
    cursor: pointer;
  }

  nav {
    width: 100%;
    height: 65px;
    @include center();

    .wrap {
      width: 1000px;
      height: 100%;
      @include space-between();

      .left {
        width: 270px;
        height: 40px;
        font-size: 14px;
        @include space-between();

        .image {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: linear-gradient(
            135deg,
            #2dc9d2 0%,
            #6682e1 50%,
            #a433f0 100%
          );
        }

        a {
          font-size: 12px;
          line-height: 20px;
          background-color: #666;
          color: #fff;
          padding: 0 7px;
          border-radius: 20px;
        }

        > button {
          width: 26px;
          height: 38px;
          background-color: transparent;
          border: none;
          position: relative;
          padding-top: 3px;

          .personal_account {
            width: 280px;
            height: 187px;
            z-index: 9999999;
            position: absolute;
            top: 50px;
            left: -165px;
            border: 1px solid #eaeaea;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 8px 30px #0000001f;
            display: none;

            form {
              width: 100%;
              height: 48px;
              border-bottom: 1px solid #eaeaea;
              @include space-between();
              padding: 0 16px;

              input {
                flex: 1;
                height: 100%;
                font-size: 16px;
                margin-left: 10px;
                border: none;
                outline: none;

                &::placeholder {
                  color: #999;
                }
              }
            }

            .below {
              width: 260px;
              height: 120px;
              margin: 10px auto;
              @include column();
              align-items: flex-start;

              p {
                margin: 15px 0 8px 0;
                font-size: 13px;
                color: #666;
              }

              .select {
                width: 100%;
                @include column();
                flex-direction: column-reverse;

                .options {
                  width: 100%;
                  height: 40px;
                  padding: 0 5px;
                  border-radius: 5px;
                  background-color: #eaeaea;
                  display: flex;
                  align-items: center;
                  cursor: pointer;

                  .image,
                  svg {
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                  }

                  &:nth-child(2) {
                    svg {
                      width: 20px;
                      margin-left: 120px;
                    }
                  }

                  &:nth-child(1) {
                    background-color: #fff;
                  }
                }

                .options:nth-child(1):hover {
                  background-color: #eaeaea;
                  transition: 0.3s;
                }

                .options:nth-child(2):hover {
                  background-color: #eaeaea;
                  transition: 0.3s;
                }

                .options:nth-child(1):hover + .options:nth-child(2) {
                  background-color: transparent;
                }

                .options:nth-child(2) {
                  background-color: #eaeaea;
                  cursor: pointer;
                }
              }
            }
          }
        }

        button:hover {
          background-color: #eee;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.3s;
        }

        button:focus {
          background-color: #eee;
          border-radius: 5px;

          .personal_account {
            display: block;
            position: absolute;
          }
        }
      }

      .right {
        width: 342px;
        height: 32px;
        color: #666;
        font-size: 14px;
        @include space-between();

        .image {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: linear-gradient(
            135deg,
            #2dc9d2 0%,
            #6682e1 50%,
            #a433f0 100%
          );
        }

        button {
          width: 90px;
          height: 100%;
          background-color: transparent;
          border: 1px solid #eee;
          border-radius: 5px;
          font-size: 14px;
          transition: 0.3s;
          padding-top: 2px;
          color: #666;
        }

        button:hover {
          border: 1px solid #000;
          transition: 0.3s;
          cursor: pointer;
        }

        ul {
          @include space-between();

          li {
            transition: 0.3s;
            padding: 0 8px;
            cursor: pointer;
          }

          li:hover {
            color: #000;
            transition: 0.3s;
          }
        }
      }
    }
  }

  .navbar_tools {
    width: 100%;
    height: 48px;
    background-color: #fff;
    border-bottom: 1px solid #f4f4f4;
    box-shadow: 0 5px 10px #00000009;
    @include center();
    z-index: 33;
    position: sticky;
    top: 0;

    ul {
      width: 1000px;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;

      li {
        font-size: 14px;
        color: #666;
        z-index: 999;
        line-height: 48px;
        padding: 0 24px 0 0;
        transition: all 0.3s ease;
        cursor: pointer;
      }

      li:hover {
        color: #000;
        transition: 0.3s;
        position: relative;
      }

      .animation {
        position: absolute;
        height: 32px;
        background-color: #eee;
        border-radius: 8px;
        z-index: 99;
        opacity: 0;
        transition: all 0.3s ease;
      }

      .start-home:hover,
      li:nth-child(1):hover ~ .animation {
        opacity: 1;
        width: 82px;
        left: -12px;
      }
      .start-home:hover,
      li:nth-child(2):hover ~ .animation {
        opacity: 1;
        width: 97px;
        left: 73px;
      }
      .start-home:hover,
      li:nth-child(3):hover ~ .animation {
        opacity: 1;
        width: 68px;
        left: 170px;
      }
      .start-home:hover,
      li:nth-child(4):hover ~ .animation {
        opacity: 1;
        width: 80px;
        left: 238px;
      }
      .start-home:hover,
      li:nth-child(5):hover ~ .animation {
        opacity: 1;
        width: 64px;
        left: 318px;
      }
      .start-home:hover,
      li:nth-child(6):hover ~ .animation {
        opacity: 1;
        width: 74px;
        left: 382px;
      }
    }

    ul::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 391px;
      width: 55px;
      height: 1.5px;
      background-color: #000;
    }
  }

  section {
    width: 100%;
    @include column-center();

    .top {
      width: 100%;
      border-bottom: 1px solid #eaeaea;
      @include center();

      h1 {
        width: 1000px;
        font-size: 32px;
        font-weight: 500;
        padding: 48px 0;
        -webkit-text-stroke: #000 0.3px;
      }
    }

    .wrapper {
      width: 100%;

      .sticky_item {
        position: sticky;
        top: 48px;
      }
    }

    .wrapper.main_sect {
      width: 1000px;
      padding-bottom: 47px;
      @include space-between();
      align-items: flex-start;

      > .sticky_item {
        width: 228px;
        height: 240px;
        margin-top: 24px;
        padding-top: 23px;
        font-size: 15px;
        @include column();

        a {
          color: #666;
          transition: 0.2s;
          padding: 10px 0;
        }

        a:hover {
          color: #000;
          transition: 0.2s;
        }
      }

      .details {
        width: 748px;
        height: 1400px;
        margin-top: 47px;
        @include column();

        .container:hover {
          box-shadow: 0 3px 10px #f4f4f4;
        }

        .container {
          width: 100%;
          min-height: 200px;
          border-radius: 5px;
          overflow: hidden;
          border: 1.5px solid #eaeaea;
          margin-bottom: 24px;
          @include column();

          &:nth-child(3) {
            .foot {
              button,
              button:hover {
                background-color: transparent;
                color: #888;
                border: 1px solid #e3e2e2;
                cursor: no-drop;
              }
            }
          }

          .top_sect {
            height: 160px;
            width: 100%;
            overflow: hidden;
            padding: 25px;
            border-bottom: 1px solid #eaeaea;

            h1 {
              font-size: 20px;
              line-height: 30px;
            }

            p {
              font-size: 15px;
              line-height: 22px;
              margin: 12px 0;
            }

            .snippet {
              width: 250px;
              height: 40px;
              border-radius: 5px;
              border: 1px solid #eaeaea;
              padding: 9px 12px;
              @include space-between();
              font-size: 13px;

              svg:hover {
                color: #888;
                transition: 0.2s;
              }
            }

            > form {
              width: 300px;
              height: 36px;
              background-color: #fafafa;
              @include space-between();
              border-radius: 5px;
              border: 1px solid #eaeaea;
              padding-left: 12px;
              color: #888;

              > input {
                width: 197px;
                height: 36px;
                margin-right: -1px;
                padding: 4px 10px;
                border: 1px solid #eaeaea;
                outline: none;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
              }

              input:focus {
                border: 1px solid #000;
              }
            }

            > input {
              width: 300px;
              height: 36px;
              padding: 4px 10px;
              border: 1px solid #eaeaea;
              outline: none;
              border-radius: 5px;
            }

            > input:focus {
              border: 1px solid #000;
            }
          }

          .foot {
            width: 100%;
            height: 57px;
            background-color: #f4f4f4;
            padding: 12px 24px;
            color: #444;
            font-size: 15px;
            @include space-between();

            button {
              padding: 6px 22px;
              font-size: 15px;
              background-color: #000;
              border: 1px solid #000;
              border-radius: 5px;
              transition: 0.2s;
              color: #fff;
            }

            button:hover {
              background-color: transparent;
              border: #000 1px solid;
              cursor: pointer;
              color: #000;
              transition: 0.2s;
            }
          }

          .avatar {
            height: 146px;
            @include space-between();

            .image {
              width: 90px;
              height: 78px;
              border-radius: 50%;
              background: linear-gradient(
                135deg,
                #2dc9d2 0%,
                #6682e1 50%,
                #a433f0 100%
              );
            }
          }

          .avatar_foot,
          .id {
            height: 54px;
          }
        }

        .container:last-child {
          border: 1px solid #ee0000;

          .delete_accaunt {
            height: 146px;
          }

          .delete_foot {
            display: flex;
            justify-content: flex-end;

            button {
              background-color: #ee0000;
              border: 1px solid #ee0000;
            }

            button:hover {
              background-color: transparent;
              -webkit-text-stroke-color: #ee0000;
              color: #ee0000;
            }
          }
        }
      }
    }

    .wrapper.footer {
      height: 610px;
      background-color: #fafafa;
      padding: 36px 24px 24px;
      @include column-center();

      .wrap {
        width: 1000px;

        .list {
          width: 100%;
          @include space-between();
          align-items: flex-start;

          li {
            padding: 8px 0;

            p {
              font-size: 15px;
              margin: 12px 0;
            }

            a {
              color: #666;
              font-size: 14px;
              line-height: 16px;
              transition: 0.2s;

              svg {
                color: #818181;
                transition: 0.3s;
              }
            }

            a:hover {
              color: #000;
            }
          }

          li:nth-child(2) {
            padding-top: 0;
          }
        }

        > svg {
          margin-top: 24px;
        }

        .bottom {
          width: 100%;
          height: 80px;
          font-size: 15px;
          @include space-between();

          > span {
            color: #666;
          }

          svg {
            color: #666;
            transition: 0.2s;
          }

          svg:hover {
            transition: 0.2s;
            color: #000;
          }

          .icons {
            width: 68px;
            height: 20px;
            position: relative;
            @include space-between();

            &::before {
              content: "";
              position: absolute;
              left: 50%;
              width: 1px;
              height: 100%;
              background-color: #c9c8c8;
            }
          }

          .btn {
            padding: 0 12px;
            height: 32px;
            @include space-between();
            border-radius: 5px;
            transition: 0.2s;
            border: 1px solid #eaeaea;

            &:hover {
              transition: 0.2s;
              cursor: pointer;
              border: #333 1px solid;

              svg {
                color: #000;
              }
            }

            .dot {
              width: 10px;
              height: 10px;
              background-color: #0070f3;
              border-radius: 50%;
              margin: 0 7px;
            }

            a {
              color: #0070f3;
              font-size: 14px;
            }

            span {
              font-size: 14px;
              width: 70px;
              color: #222;
              padding: 0 8px;
            }
          }
        }
      }
    }
  }
}
